*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F9F9F9;
  font-family: Arial, Helvetica, sans-serif;
}


a{
  all: unset;
}

ul{
  list-style: none;
}
/* container */
.container{
  max-width: 1100px;
  margin: 0 auto;
}
.post-container{
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border:2px solid #DDDDDD;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}


/* header */
header{
  padding: 20px;
  background-color: #E2E8F0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.menu{
  display: flex;
  gap: 50px;
}
.menu li{
  font-size: 23px;
  text-transform: uppercase;
  color: #1E1E1E;
}
.menu li:hover{
  cursor: pointer;
  color: #3A76F0;
}

/* main */
main h1{
  text-align: center;
}
.post-title{
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #1E1E1E;
}
.link{
  font-size: 20px;
  color: #3A76F0;
}
.link:hover{
  cursor: pointer;
  color: 	#1F4FCC;
}
.btn{
  all: unset;
  color: #E2E8F0;
  padding: 10px;
  background-color: #2F66D0;
}
.btn:hover{
  background-color: #264FAD;
}
.text-post{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
}



